@media only screen and (min-width: 901px) {
    nav {
        font-size: 20px;
        letter-spacing: 2px;
        margin: -1.4%;
        margin-top: -65px;
        margin-bottom: 1.7%;
        padding: 1%;
        padding-left: 2%;
        padding-right: 10%;
        width: 90%;
        height: 60px;
    }

    body {
        padding-top: 60px;
    }

    .welcome {
        width: 97%;
        margin-left: 1%;
        margin-top: 60px;
        padding-top: 30px;
    }

    .gameContainer {
        padding: 2%;
        padding-right: 0;
        padding-left: 0;
        margin-top: 6%;
        width: 60%;
        height: 70vh;
    }

    .game {
        margin-top: 2%;
        width: 100%;
    }


    .left {
        padding-top: 40px;
        width: 30%;
    }

    .right {
        padding-top: 90px;
        height: 45vh;
        width: 70%;
    }

    #diceForm {
        padding: 10px;
        font-size: 15px;
    }

    .gButton {
        padding: 5px;
        width: 150px;
        margin: 5px;
        font-size: 17px;
    }

    .coin {
        height: 150px;
        width: 150px;
    }

    #gameTable {
        width: 300px;
        height: 350px;
        margin-top: -55px;
    }

    .gameResult {
        width: 100px;
        padding-top: 5px;
    }

    #diceSum {
        padding-top: 20px;
    }

    #mineTable {
        width: 300px;
        height: 350px;
        margin-top: -55px;
    }

    #mineTable th {
        width: 20%;
        height: 20%;
    }

    .gameDescription {
        width: 60%;
        padding: 2%;
        padding-right: 10px;
        padding-left: 10px;
        margin-top: 2%;
    }

    .Description {
        padding: 10px;
        margin-top: -15px;
        font-size: 14px;
    }

    .resultTable {
        margin-top: 10px;
        padding: 50px;
    }

    .resultTable th,
    .resultTable td {
        width: 150px;
        padding: 10px;
    }

    .video-container {
        padding-top: 56.25%;
    }

    .responsive-iframe {
        width: 100%;
        height: 100%;
    }

    #account input {
        margin-top: 55px;
        border-radius: 5px;
    }

    .gameSelectContainer {
        width: 97%;
        margin-left: 1%;
        margin-top: 60px;
        padding-top: 30px;
        padding-bottom: 20px;
    }

    .gameSelect {
        width: 10%;
        margin: 10px;
        padding: 20px;
    }

    #registerBtn {
        padding: 5px;
        width: 150px;
        margin: 5px;
        margin-bottom: 25px;
        font-size: 17px;
    }
}

* {
    font-family: fantasy;
}

nav {
    z-index: 10;
    position: fixed;
    display: flex;
    background-color: #181921;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
}

.nav-container {
    transition: transform 0.3s;
}

.nav-container:hover {
    transform: scale(1.05);
}

a:hover {
    color: #b4b4b4;
}

nav a {
    color: white;
    text-decoration: none;
}

body {
    background-color: #13151b;
    text-align: center;
    align-items: center;
}

.welcome {
    text-align: center;
    overflow: hidden;
    background-size: cover;
    background-position: center top;
    border-radius: 15px;
    background-color: #22242f;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome img {
    width: 60%;
    border-radius: 15px;
    background-repeat: no-repeat;
}

.gameContainer {
    background-color: #22242f;
    border-radius: 10px;
}

.accountContainer {
    background-color: #22242f;
    border-radius: 10px;
}

.game {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1c1d27;
    border-top: solid #393e5a 2px;
    border-bottom: solid #393e5a 2px;
}

.right {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-left: solid #393e5a 2px;
}

.accButton {
    color: white;
    background-color: #4483eb;
    letter-spacing: 2px;
    transition: transform 0.15s;
}

.accButton:hover {
    background-color: #4e97ff;
    transform: scale(1.05);
}

.gButton {
    color: white;
    background-color: #4483eb;
    letter-spacing: 2px;
    transition: transform 0.15s;
}

.gButton:hover {
    background-color: #4e97ff;
    transform: scale(1.05);
}

.coin {
    position: relative;
    transform-style: preserve-3d;
}

.coin img {
    width: 100%;
}

.heads,
.tails {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;

}

.tails {
    transform: rotateX(180deg);
}

@keyframes spin-tails {
    0% {
        transform: rotateX(0);
    }

    100% {
        transform: rotateX(1980deg);
    }
}

@keyframes spin-heads {
    0% {
        transform: rotateX(0);
    }

    100% {
        transform: rotateX(2160deg);
    }
}

#gameTable {
    border-collapse: collapse;
    table-layout: fixed;
    background-color: #22242f;
    cursor: pointer;
}

#gameTable th {
    width: 33.33%;
    height: 33.33%;
    text-align: center;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

#gameTable th:last-child {
    border-right: none;
}

#gameTable tr:last-child th {
    border-bottom: none;
}

#mineTable {
    border-collapse: collapse;
    table-layout: fixed;
    background-color: #22242f;
    cursor: pointer;
}

#mineTable th {
    text-align: center;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

#mineTable th:last-child {
    border-right: none;
}

#mineTable tr:last-child th {
    border-bottom: none;
}

.gameDescription {
    background-color: #1c1d27;
    border-radius: 10px;
    color: #a3a6c2;
    letter-spacing: 2.4px;
    text-align: left;
    box-sizing: border-box;
    text-shadow: 2px 2px 2px black;
}

.Description {
    background-color: #22242f;
    box-sizing: border-box;
    text-align: left;
}

.resultTable {
    border-collapse: collapse;
    table-layout: fixed;
    visibility: hidden;
}

.resultTable th,
.resultTable td {
    text-align: center;
    box-sizing: border-box;
}

.video-container {
    position: relative;
    overflow: hidden;
    /* 16:9 Aspect Ratio */
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
}

#account input {
    border-radius: 5px;
}

#account {
    color: white;
    letter-spacing: 2.5px;
    text-shadow: 2px 2px 2px black;
}

.gameSelectContainer {
    text-align: center;
    overflow: hidden;
    background-size: cover;
    background-position: center top;
    border-radius: 15px;
    background-color: #22242f;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.gameSelectContainer a {
    text-decoration: none;
    color: aliceblue;
}

.gameSelect {
    background: linear-gradient(45deg, #393e5a 50%, #4e97ff 50%);
    border-radius: 10px;
    transition: transform 0.3s;
}

.gameSelect:hover {
    transform: scale(1.05);
}

#registerBtn {
    color: white;
    background-color: #4483eb;
    letter-spacing: 2px;
    transition: transform 0.15s;
}

#registerBtn:hover {
    background-color: #4e97ff;
    transform: scale(1.05);
}

.buttonWrapper {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
}



@media only screen and (max-width: 600px) {

    .tttpick {
        width: 5px;
        height: 5px;
    }

    .accountContainer {
        padding: 50px;
    }

    .logo {
        max-width: 90px;
        height: 40px;
    }

    nav {
        font-size: 7px;
        margin: 1.4%;
        margin-top: -65px;
        margin-bottom: 1.7%;
        padding: 1.5%;
        padding-left: 2%;
        width: 90%;
        height: 60px;
    }

    body {
        padding-top: 60px;
    }

    .welcome {
        width: 97%;
        margin-left: 1%;
        margin-top: 60px;
        padding-top: 10px;
    }

    .gameContainer {
        padding: 2%;
        padding-right: 0;
        padding-left: 0;
        margin-top: 6%;
        width: 60%;
        height: 70vh;
    }

    .game {
        margin-top: 2%;
        width: 100%;
    }


    .left {
        padding-top: 40px;
        width: 99px;
    }

    .right {
        padding-top: 90px;
        height: 45vh;
        width: 70%;
    }

    #diceForm {
        padding: 10px;
        font-size: 10px;
    }

    .gButton {
        padding: 5px;
        width: 82px;
        margin: 1px;
        font-size: 10px;
    }

    .coin {
        height: 90px;
        width: 90px;
    }

    #gameTable {
        width: 100px;
        height: 130px;
        margin-top: -55px;
    }

    .gameResult {
        width: 50px;
        padding-top: 5px;
    }

    #diceSum {
        padding-top: 20px;
    }

    #mineTable {
        width: 100px;
        height: 100px;
        margin-top: 40px;
    }

    #mineTable th {
        width: 10px;
        height: 10px;
    }

    .gameDescription {
        width: 90%;
        padding: 2%;
        padding-right: 10px;
        padding-left: 10px;
        margin-top: 2%;
    }

    .Description {
        padding: 10px;
        margin-top: -15px;
        font-size: 12px;
    }

    .resultTable {
        margin-top: 10px;
        padding: 15px;
    }

    .resultTable th,
    .resultTable td {
        width: 90px;
        padding: 10px;
    }

    .video-container {
        padding-top: 56.25%;
    }

    .responsive-iframe {
        width: 100%;
        height: 100%;
    }

    #account input {
        margin-top: 55px;
        border-radius: 5px;
    }

    .gameSelectContainer {
        width: 97%;
        margin-left: 1%;
        margin-top: 60px;
        padding-top: 30px;
        padding-bottom: 20px;
    }

    .gameSelect {
        width: 60px;
        height: 40px;
        margin: 10px;
        padding: 20px;
        font-size: 9px;
    }

    #registerBtn {
        padding: 5px;
        width: 110px;
        margin: 5px;
        margin-bottom: 25px;
        font-size: 14px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
    nav {
        font-size: 15px;
        margin: -1.4%;
        margin-top: -65px;
        margin-bottom: 1.7%;
        padding: 1%;
        padding-left: 2%;
        padding-right: 10%;
        width: 90%;
        height: 60px;
    }

    body {
        padding-top: 60px;
        height: auto;
    }

    .welcome {
        width: 97%;
        margin-left: 1%;
        margin-top: 20px;
        padding-top: 20px;
    }

    .accountContainer {
        padding: 2%;
        padding-right: 0;
        padding-left: 0;
        margin-top: 6%;
        width: 60%;
        height: 47vh;
    }

    .accountContainer h2 {
        font-size: 19px;
    }

    .gameContainer {
        padding: 2%;
        padding-right: 0;
        padding-left: 0;
        margin-top: 6%;
        width: 90%;
        height: 53vh;
    }

    .game {
        margin-top: 2%;
        width: 100%;
    }


    .left {
        width: 30%;
    }

    .right {
        padding-top: 90px;
        height: 35vh;
        width: 70%;
    }

    #diceForm {
        padding: 10px;
        font-size: 15px;
    }

    .gButton {
        padding: 5px;
        width: 150px;
        margin: 5px;
        font-size: 17px;
    }

    .coin {
        height: 150px;
        width: 150px;
    }

    #gameTable {
        width: 300px;
        height: 350px;
        margin-top: -55px;
    }

    .gameResult {
        width: 100px;
        padding-top: 5px;
    }

    #diceSum {
        padding-top: 20px;
    }

    #mineTable {
        width: 300px;
        height: 350px;
        margin-top: -55px;
    }

    #mineTable th {
        width: 20%;
        height: 20%;
    }

    .gameDescription {
        width: 90%;
        padding: 2%;
        padding-right: 10px;
        padding-left: 10px;
        margin-top: 5%;
    }

    .Description {
        padding: 10px;
        margin-top: -15px;
        font-size: 14px;
    }

    .resultTable {
        margin-top: 10px;
        padding: 50px;
    }

    .resultTable th,
    .resultTable td {
        width: 150px;
        padding: 10px;
    }

    .video-container {
        padding-top: 56.25%;
    }

    .responsive-iframe {
        width: 100%;
        height: 100%;
    }

    #account {
        font-size: 15px;
    }

    #account input {
        margin-top: 25px;
        border-radius: 5px;
        width: 150px;
    }

    .accButton {
        padding: 5px;
        width: 150px;
        font-size: 17px;
    }

    .gameSelectContainer {
        width: 97%;
        margin-left: 1%;
        margin-top: 30px;
        padding-top: 30px;
        padding-bottom: 20px;
        font-size: 14px;
    }

    .gameSelect {
        width: 14%;
        margin: 10px;
        padding: 10px;
    }

    #registerBtn {
        padding: 3px;
        width: 150px;
        margin: 3px;
        margin-bottom: 18px;
        font-size: 14px;
    }
}