* {
    font-family: fantasy;
}

nav {
    letter-spacing: 2px;
    font-size: 20px;
    position: fixed;
    margin: -0.7%;
    margin-bottom: 1.7%;
    display: flex;
    padding: 1%;
    padding-left: 2%;
    padding-right: 10%;
    background-color: #181921;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.nav-container {
    transition: transform 0.3s;
}

.nav-container:hover {
    transform: scale(1.05);
}

a:hover {
    color: #b4b4b4;
}

nav a {
    color: white;
    text-decoration: none;
}

body {
    background-color: #13151b;
    text-align: center;
    align-items: center;
}

.welcome {
    width: 100%;
    height: 300px;
    margin-top: 1.4%;
    text-align: center;
    overflow: hidden;
    background-image: url('path_to_your_image.jpg');
    background-size: cover;
    background-position: center top;
    /* Adjust this as needed */
    border-radius: 15px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome img {
    width: 60%;
    border-radius: 15px;
    background-repeat: no-repeat;
}

.gameContainer {
    padding: 2%;
    padding-right: 0;
    padding-left: 0;
    margin-top: 5%;
    background-color: #22242f;
    width: 60%;
    height: 70vh;
    border-radius: 10px;
}

.game {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 2%;
    width: 100%;
    background-color: #1c1d27;
    border-top: solid #393e5a 2px;
    border-bottom: solid #393e5a 2px;
}

.left {
    width: 30%;
    border-right: solid #393e5a 2px;
}

.right {
    width: 70%;

}

#diceForm {
    padding: 10px;
    font-size: 15px;
    letter-spacing: 1px;
}

.diceButton {
    color: white;
    background-color: #4483eb;
    padding: 5px;
    width: 150px;
    margin: 5px;
    font-size: 17px;
    letter-spacing: 2px;
    transition: transform 0.15s;
}

.diceButton:hover{
    background-color: #4e97ff;
    transform: scale(1.05);
}